div#bg_container {
  height: 100%;
  text-align: center;
}

.splash {
  display: inline-block;
  font-family: 'Lobster', cursive;
  color: white;
  margin-top: 200px;
  .btn {
    background: rgba(255, 255, 255, .2);
    color: white;
    box-shadow: 5px 5px 20px black;
    text-shadow: 1px 1px 3px black;
    margin: 15px;
  }
  .btn:hover {
    text-shadow: none;
  }
  h1 {
    font-size: 100px;
    text-shadow: 5px 5px 20px black;
  }
  p {
    font-size: 40px;
    text-shadow: 5px 5px 10px black;
  }
}
